* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    background: url('../images/header_bg.png') no-repeat;
    height: 800px;
    /* background-repeat: no-repeat; */
}

.header-content {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    color: white;
    text-decoration: none; /* отключает подчеркивание у ссылки */
    background: black;
    display: inline-block; /* строчно-блочный */
    padding: 15px 5px;
    text-transform: uppercase; /* делает все буквы заглавными */
    font-family: Arial; /* задаёт семейство шрифтов (стиль) */
    font-weight: bold; /* задаёт толщину шрифта */
    font-size: 25px; /* задаёт размер шрифта */
}

.nav-message {
    color: white;
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
}

.header-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

.header-title {
    color: white;
    text-transform: uppercase;
    font-family: arial;
    margin-bottom: 30px;
}

.header-call {
    display: flex;
    background: white;
    color: black;
    width: 300px;
    justify-content: center;
    padding: 15px 0;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: arial;
}


.main {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}

.about-title {
    text-align: center;
    text-transform: uppercase;
    font-family: arial;
}

.about-description {
    text-align: center;
    font-family: arial;
    margin: 30px 0;
}


.about-link {
    display: flex;
    background: black;
    color: white;
    width: 300px;
    justify-content: center;
    padding: 15px 0;
    margin: 0 auto;
    text-decoration: none;
    text-transform: uppercase;
    font-family: arial;

}

.myworks-title {
    text-align: center;
    margin: 50px 0;
    text-transform: uppercase;
    font-family: arial;
}

.card {
    max-width: 350px;
    width: 100%;
    border: 3px solid black;
    padding: 15px 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-img {
    width: 100%;
}

.card-title {
    text-align: center;
    text-transform: uppercase;
    font-family: arial;
    margin-bottom: 20px;
}

.card-description {
    text-align: center;
    font-family: arial;
    margin: 15px 0;
}

.card-link {
    display: flex;
    background: black;
    color: white;
    width: 250px;
    justify-content: center;
    padding: 15px 0;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: arial;
    border-radius: 5px;
    margin: 0px auto;
}

.footer {
    background: black;
    padding: 25px 0;
    display: flex;
    justify-content: center
}

.footer-link {
    margin-right: 30px;
}